# IMDB MOVIE EXERCISE

Import library and load the data and take a look at some sample

In [1]:
import pandas as pd

imdb = pd.read_csv('./IMDB-database-update.csv', encoding='latin1', index_col='movie_ID')

display(imdb.head())
display(imdb.tail())

,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,net_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
movie_ID,,,,,,,,,,,,,,,,,,,,,
1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,523505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
2,Pirates of the Caribbean: At World's End,169,1,2007,USA,English,PG-13,300000000,309404152,9404152,...,1,1000,48350,0,0,0,471220,1238,7.1,0
3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,198130642,...,1,23000,106759,1,164000,0,1144337,2701,8.5,1
4,Spider-Man 3,156,1,2007,USA,English,PG-13,258000000,336530303,78530303,...,1,4000,46055,0,0,0,383056,1902,6.2,0
5,Batman v Superman: Dawn of Justice,183,1,2016,USA,English,PG-13,250000000,330249062,80249062,...,1,2000,24450,1,197000,0,371639,3018,6.9,0

,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,net_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
movie_ID,,,,,,,,,,,,,,,,,,,,,
3777,New Year's Eve,113,1,2011,USA,English,PG-13,56000000,54540525,-1459475,...,1,307,23456,1,20000,15,66579,134,5.7,0
3778,Boogie Nights,155,1,1997,USA,English,R,15000000,26384919,11384919,...,1,170,3677,0,0,15,189032,560,7.9,0
3779,Battle of the Year,110,1,2013,USA,English,PG-13,20000000,8888355,-11111645,...,1,826,3177,0,0,19,7894,25,5.0,0
3780,The Master,144,1,2012,USA,English,R,32000000,16377274,-15622726,...,1,15,427,1,27000,31,105144,405,7.1,0
3781,500 Days of Summer,95,1,2009,USA,English,PG-13,7500000,32391374,24891374,...,1,11000,54075,1,40000,43,376600,494,7.7,0

## How many rows and columns reflected on dataset file IMDB-database-update.csv?

In [6]:
print('The dataset have {} rows, and {} columns'.format(imdb.shape[0],imdb.shape[1]))

The dataset have 3781 rows, and 35 columns

## What are the top 3 movies with highest nett profit in 2016?

In [12]:
tmp1 = imdb.loc[imdb['title_year']==2016, ['movie_title','net_USD']].sort_values(by='net_USD', ascending=False)[0:3]
display(tmp1)
print('The top 3 movies are: \n{}'.format(tmp1['movie_title'].tolist()))

                      movie_title    net_USD
movie_ID
356                      Deadpool  305024263
236       The Secret Life of Pets  248505540
37                The Jungle Book  187645141

The top 3 movies are:
['Deadpool', 'The Secret Life of Pets', 'The Jungle Book']

## What are the top 3 movies with highest gross profit in 2017?

In [15]:
tmp2 = imdb.loc[imdb['title_year']==2017, ['movie_title','gross_USD']].sort_values(by='gross_USD', ascending=False)[0:3]
display(tmp2)
print('\nHmmm, something is wrong')

Empty DataFrame
Columns: [movie_title, gross_USD]
Index: []

Hmmm, something is wrong

In [20]:
print('The highest year in the dataset is: {}'.format(max(imdb['title_year'])))

The highest year in the dataset is: 2016

There is no data with title_year == 2017

## How many non-english movies are in the dataset?

In [22]:
tmp3 = imdb.loc[imdb['language']!='English', 'movie_title'].count()
print('There are {} of non-english movies in the dataset'.format(tmp3))

There are 153 of non-english movies in the dataset

## What are top 3 languages in the data set aside English (based on number of movies)?

In [41]:
tmp4 = imdb.loc[imdb['language']!='English']['language'].value_counts()[:3]
display(tmp4)
print('The top 3 languages are:\n{}'.format(tmp4.index.values.tolist()))

French      33
Spanish     23
Mandarin    14
Name: language, dtype: int64

The top 3 languages are:
['French', 'Spanish', 'Mandarin']

## What are the top 3 countries with the highest nett profit in all dataset times?

In [56]:
tmp5 = imdb.groupby(by='country').sum()[['net_USD']].sort_values(by='net_USD', ascending=False)[0:3]
display(tmp5)
print('The top 3 countries are:\n{}'.format(tmp5.index.values.tolist()))

               net_USD
country
USA        52003933174
UK          1531614524
Australia    252571616

The top 3 countries are:
['USA', 'UK', 'Australia']

## What are the average budget of all movies in dataset in 2016?

In [67]:
avg_bud_2016 = imdb.loc[imdb['title_year']==2016][['budget_USD']].mean()[0]
print('The average budget is: {:.2f}'.format(avg_bud_2016))

The average budget is: 69225757.58

## What are the average budget of all movies in dataset in 2017?

In [66]:
avg_bud_2017 = imdb.loc[imdb['title_year']==2017][['budget_USD']].mean()[0]
print('The average budget is: {:.2f}'.format(avg_bud_2017))

The average budget is: nan

Same reason as problem 3, there is no data in 2017

## Which one is higher, average budget of all movies in dataset in 2016 or 2017?

In [68]:
if avg_bud_2016 > avg_bud_2017: print('2016 average budget is higher than 2017')
else: print('2016 average budget is higher than 2017')

2016 average budget is higher than 2017

## What movie that resulted highest nett profit of all dataset times? How much did the movie make?

In [72]:
tmp6 = imdb.sort_values(by='net_USD',ascending=False)[['movie_title', 'net_USD']][0:1]
display(tmp6)
print('The movie that resulted highest nett profit is: {}'.format(tmp6['movie_title'].tolist()))

         movie_title    net_USD
movie_ID
1             Avatar  523505847

The movie that resulted highest nett profit is: ['Avatar']

***

Use Case: High Rating Movies Criteria

Masking the index data based on their score

In [73]:
high_rated = imdb['imdb_score']> 7.5
low_rated = imdb['imdb_score']<=7.5

Using the `corr` function we can get the correlation values from each features

In [81]:
tmp7 = imdb[high_rated][imdb.columns[1:-1]].corr()['imdb_score'][:].sort_values(ascending=False)
display(tmp7)

imdb_score                   1.000000
num_voted_users              0.675634
num_user_for_reviews         0.476970
movie_facebook?              0.305574
duration                     0.260806
movie_facebook_likes;        0.255836
director_facebook_likes      0.240776
gross_USD                    0.207790
actor_3_facebook_likes       0.158614
actor_top20?.2               0.142728
cast_total_facebook_likes    0.128971
actor_2_facebook_likes       0.096369
actor_1_facebook_likes       0.091108
profitable                   0.089360
actor_top20?                 0.082246
net_USD                      0.074719
actor_top20?.1               0.069040
budget_USD                   0.025142
actor_3_facebook?           -0.001405
actor_2_facebook?           -0.018154
facenumber_in_poster        -0.018754
director_facebook?          -0.111492
color                       -0.112406
title_year                  -0.199376
actor_1_facebook?                 NaN
Name: imdb_score, dtype: float64

from above result we can get the 5 - 10 top result

In [86]:
tmp8 = tmp7.index.values.tolist()[1:6]
print('Top 5 variables to analyze:\n{}'.format(tmp8))

Top 5 variables to analyze:
['num_voted_users', 'num_user_for_reviews', 'movie_facebook?', 'duration', 'movie_facebook_likes;']

In [97]:
display(imdb[high_rated][tmp8].describe())
display(imdb[low_rated][tmp8].describe())

,num_voted_users,num_user_for_reviews,movie_facebook?,duration,movie_facebook_likes;
count,5.340000e+02,534.000000,534.000000,534.000000,534.000000
mean,2.970237e+05,694.608614,0.664794,125.621723,24948.932584
std,2.761334e+05,655.144627,0.472505,31.474508,37593.279978
min,5.780000e+02,9.000000,0.000000,37.000000,0.000000
25%,9.305925e+04,281.000000,0.000000,105.000000,0.000000
50%,2.213400e+05,514.000000,1.000000,121.000000,13000.000000
75%,4.137778e+05,870.000000,1.000000,139.000000,31000.000000
max,1.689764e+06,5060.000000,1.000000,293.000000,349000.000000

,num_voted_users,num_user_for_reviews,movie_facebook?,duration,movie_facebook_likes;
count,3247.000000,3247.00000,3247.000000,3247.000000,3247.000000
mean,72233.044041,272.20542,0.518325,107.372960,6684.635048
std,83780.202278,316.50674,0.499741,19.218427,15938.019189
min,22.000000,1.00000,0.000000,45.000000,0.000000
25%,15549.500000,97.00000,0.000000,95.000000,0.000000
50%,43376.000000,181.00000,1.000000,104.000000,117.000000
75%,94459.500000,326.00000,1.000000,116.000000,2500.000000
max,701607.000000,3597.00000,1.000000,325.000000,197000.000000

From above results we can see that higher rated movies tend to have more num_voted_users, num_user_for_reviews, and movie_facebook_likes

In [98]:
tmp9 = tmp7.index.values.tolist()[1:11]
print('Top 10 variables to analyze:\n{}'.format(tmp8))

Top 10 variables to analyze:
['num_voted_users', 'num_user_for_reviews', 'movie_facebook?', 'duration', 'movie_facebook_likes;']

In [99]:
display(imdb[high_rated][tmp9].describe())
display(imdb[low_rated][tmp9].describe())

,num_voted_users,num_user_for_reviews,movie_facebook?,duration,movie_facebook_likes;,director_facebook_likes,gross_USD,actor_3_facebook_likes,actor_top20?.2,cast_total_facebook_likes
count,5.340000e+02,534.000000,534.000000,534.000000,534.000000,534.000000,5.340000e+02,534.000000,534.000000,534.000000
mean,2.970237e+05,694.608614,0.664794,125.621723,24948.932584,2205.614232,8.558745e+07,994.825843,0.014981,13603.840824
std,2.761334e+05,655.144627,0.472505,31.474508,37593.279978,5330.116199,1.098360e+08,2781.370000,0.121592,16830.847573
min,5.780000e+02,9.000000,0.000000,37.000000,0.000000,0.000000,1.111000e+03,0.000000,0.000000,2.000000
25%,9.305925e+04,281.000000,0.000000,105.000000,0.000000,0.000000,1.132178e+07,114.750000,0.000000,1510.500000
50%,2.213400e+05,514.000000,1.000000,121.000000,13000.000000,132.500000,4.317500e+07,402.000000,0.000000,5088.500000
75%,4.137778e+05,870.000000,1.000000,139.000000,31000.000000,569.000000,1.202719e+08,669.750000,0.000000,20390.250000
max,1.689764e+06,5060.000000,1.000000,293.000000,349000.000000,22000.000000,7.605058e+08,23000.000000,1.000000,106759.000000

,num_voted_users,num_user_for_reviews,movie_facebook?,duration,movie_facebook_likes;,director_facebook_likes,gross_USD,actor_3_facebook_likes,actor_top20?.2,cast_total_facebook_likes
count,3247.000000,3247.00000,3247.000000,3247.000000,3247.000000,3247.000000,3.247000e+03,3247.000000,3247.000000,3247.000000
mean,72233.044041,272.20542,0.518325,107.372960,6684.635048,570.708962,4.626664e+07,726.427164,0.003696,11057.744071
std,83780.202278,316.50674,0.499741,19.218427,15938.019189,2419.200012,5.926974e+07,1691.358255,0.060689,19393.684921
min,22.000000,1.00000,0.000000,45.000000,0.000000,0.000000,1.620000e+02,0.000000,0.000000,0.000000
25%,15549.500000,97.00000,0.000000,95.000000,0.000000,12.000000,7.158040e+06,202.000000,0.000000,1943.500000
50%,43376.000000,181.00000,1.000000,104.000000,117.000000,56.000000,2.714196e+07,434.000000,0.000000,3889.000000
75%,94459.500000,326.00000,1.000000,116.000000,2500.000000,199.500000,6.110391e+07,691.000000,0.000000,15648.000000
max,701607.000000,3597.00000,1.000000,325.000000,197000.000000,23000.000000,6.521773e+08,19000.000000,1.000000,656730.000000

From above results we can see that higher rated movies tend to have more likes, make more money, and top actor